<h1><%= t('.header')%></h1>
<table class="asset_list_table">
  <th><%= t('.asset_list_table.headers.display_name') %></th>
  <th><%= t('.asset_list_table.headers.cpe_name') %></th>
  <th><%= t('.asset_list_table.headers.cpu_type') %></th>
  <th/>
  <th/>
  <% @operating_systems.each do |os|%>
  <tr>
    <td><%= os.display_name %></td>
    <td><%= os.cpe_name%></td>
    <td><%= os.cpu_architecture%></td>
    <td><%= link_to t('.edit'), edit_operating_system_path(os) %></td>
    <td><%= link_to t('.destroy'), operating_system_path(os),
	:method => :delete,
	:data => {:confirm => t('dialogs.destroy')} %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to t('.new'), new_operating_system_path%>
